*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: system-ui, sans-serif;
  height: 100%;
  line-height: 1.1875;
  overflow-wrap: anywhere;
  tab-size: 4;
  text-rendering: geometricPrecision;
}

html:focus-within {
  scroll-behavior: smooth;
  scroll-padding-top: var(--spc-2);
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  overflow-wrap: inherit;
  text-rendering: inherit;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
ol,
p,
pre,
samp,
table ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  /* system font stack provided by https://modernfontstacks.com/ */
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;
  font-size: 0.9375rem;
  line-height: 1.4;
}

body {
  min-height: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
