:root {
  color-scheme: only light;

  /* || foreground palette */
  --clr-fg-0: #111111;
  --clr-fg-1: #3d3d3d;
  --clr-fg-2: #696969;

  /* || background palette */
  --clr-bg-0: #ffffff;
  --clr-bg-1: #f5f5f5;
  --clr-bg-2: #eaeaea;

  /* || padding */
  --spc-0: 0.3125rem;
  --spc-1: calc(var(--spc-0) * 2);
  --spc-2: calc(var(--spc-0) * 4);
  --spc-3: calc(var(--spc-0) * 8);
  --spc-4: calc(var(--spc-0) * 16);
  --spc-5: calc(var(--spc-0) * 32);

  /* || text-spacing */
  --txt-spc-0: 0.128em;
  --txt-spc-1: 0.272em;
  --txt-spc-2: 0.618em;
  --txt-spc-3: 1em;
  --txt-spc-4: 1.618em;
  --txt-spc-5: 2.618em;

  --doc-width: 56ch;
}

html {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
  scroll-padding-top: var(--spc-2);
}

body {
  background-color: var(--clr-bg-1);
  color: var(--clr-fg-1);
  font-family: system-ui, sans-serif;
  min-height: 100%;
  overflow-wrap: break-word;
  padding-inline: var(--spc-2);
}

p,
ol,
ul {
  font-size: clamp(1.0625rem, 0.9375rem + 0.625vw, 1.1875rem);
  line-height: 1.4;
  margin-block: var(--spc-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-fg-0);
  line-height: calc(0.85rem + 0.8em);
  margin-block: 1.25em 0.625em;
}

h1 {
  font-size: clamp(2rem, 1.5rem + 2.5vw, 2.5rem);
}

h2 {
  font-size: clamp(1.75rem, 1.5rem + 1.25vw, 2rem);
}

h3 {
  font-size: clamp(1.5rem, 1.25rem + 1.25vw, 1.75rem);
}

h4 {
  font-size: clamp(1.34375rem, 1.1875rem + 0.7813vw, 1.5rem);
}

h5 {
  font-size: clamp(1.15625rem, 0.9688rem + 0.9375vw, 1.34375rem);
}

h6 {
  font-size: clamp(1rem, 0.8438rem + 0.7813vw, 1.15625rem);
}

strong {
  color: var(--clr-fg-0);
}

small {
  font-size: 0.75rem;
}

code {
  background-color: var(--clr-bg-0);
  border-radius: var(--spc-0);
  border: 1px solid #00000022;
  line-height: inherit;
  padding: 0.15em 0.3em;
}

pre {
  background-color: var(--clr-bg-0);
  border-radius: var(--spc-0);
  border: 1px solid #00000022;
  line-height: 1.4;
  margin-block: var(--spc-2);
  padding: var(--spc-2);
  overflow-x: scroll;
}

pre code {
  border: none;
  background-color: none;
  padding: initial;
}

main {
  padding-block: var(--spc-3);
}

.container {
  margin-inline: auto;
  max-width: var(--doc-width);
}

main .container > :first-child {
  margin-top: -0.24em;
}

main .container > :last-child {
  margin-bottom: -0.24em;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: only dark;

    /* || foreground palette */
    --clr-fg-0: #eeeeee;
    --clr-fg-1: #c4c4c4;
    --clr-fg-2: #999999;

    /* || background palette */
    --clr-bg-0: #1e1e1e;
    --clr-bg-1: #282828;
    --clr-bg-2: #323232;
  }
}
